@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap");

@font-face {
  font-family: "Salsa";
  src: url("../assets/Salsa/Salsa-Regular.ttf") format("truetype");
}

:root {
  --main-color: #b81c4b;
  --main-color-dark: #7e101;
  --white-color: #fff;
  --black-color: #000;
  --box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.05);
  --gradient: linear-gradient(
    to right,
    rgba(29, 26, 27, 0.7),
    rgba(29, 26, 27, 0.7)
  );

  --gradient-gray: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.664),
    rgba(0, 0, 0, 0.664)
  );
}

.brown {
  color: #b81c4b;
  font-style: italic;
}

.banner {
  height: 80vh;
  padding-top: 80px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.edge {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: white;
  outline: none;
  text-align: center;
}

.center {
  text-align: center;
}

.edge:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

.salsa {
  font-family: "Salsa";
}

.focus {
  color: #b81c4b;
  border-bottom: 1px solid #b81c4b;
}

.italic {
  font-style: italic;
}

.black {
  color: black;
}


