@media screen and (max-width: 851px) {
  .hero {
    /* height: 40vh; */
    padding-top: 100px;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .navigation .navigate img {
    width: 30px;
  }

  .hero .back {
    width: 90%;
  }

  .hero .back .text {
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: -2px;
  }

  .hero .back .text .hero-text {
    font-size: 50px;
  }

  .history .content {
    width: 100%;
  }

  .history .image {
    width: 100%;
  }

  .final-flex {
    width: 100%;
  }

  .edge {
    font-size: 40px;
    letter-spacing: -2px;
  }

  .banner {
    height: 60vh;
    padding-top: 80px;
  }

  .why-content {
    width: 80%;
  }

  .log {
    display: none;
  }

  .about-hero .about-content {
    width: 100%;
  }

  .about-hero .about-img img {
    width: 100%;
  }

  .about-hero .about-vision {
    width: 100%;
  }

  .policy > p {
    width: 90%;
  }

  .feal {
    font-size: 20px;
  }

  footer {
    flex-direction: column;
  }

  .footer-copyright {
    padding: 5px 0px;
  }

  .footer-icon__holder {
    padding: 5px 0px;
  }

  .footer-button__holder {
    padding: 5px 0px;
  }
}

@media screen and (max-width: 601px) {
  .container {
    height: 50vh;
  }

  .box > img {
    width: 100%;
  }

  .box:hover {
    flex: 1 1 50%;
  }

  .box:hover > img {
    width: 100%;
    height: 100%;
  }

  .img-list li {
    border: 5px solid transparent;
    box-sizing: border-box;
    width: 100%;
    float: left;
    position: relative;
    cursor: pointer;
  }
}
