* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* HOME STYLING */
/* ============ */
/* ============ */
/* ============ */

/* Navigation Starts */
nav {
  background: whitesmoke;
  color: black;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  z-index: 100;
}

.navigation {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation .navigate img {
  width: 50px;
}

.navigation .navigate .link {
  text-decoration: none;
  font-weight: 600;
  margin: 0px 10px;
  padding: 6px 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.5s ease;
}

.navigation .navigate .link:hover {
  color: #b81c4b;
  border-bottom: 1px solid #b81c4b;
}

.navigation .navigate:last-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation .navigate:last-child a {
  padding: 0px 8px;
}

.navigation .navigate a i {
  font-size: 18px;
  color: #0070ba;
  transition: all 0.2s ease;
}

.navigation .navigate a i:hover {
  color: #b81c4b;
}
/* Navigation Ends */

/* Hero Starts */
.hero {
  height: 100vh;
  padding-top: 100px;
  background: var(--gradient), url("../assets/imgs/model.jpg");
  background-attachment: fixed;
  display: flex;
  align-items: center;
  background-size: cover;
}

.hero .back {
  width: 40%;
  margin: auto 20px auto auto;
}

.hero .back .text {
  color: whitesmoke;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  letter-spacing: -3px;
}

.hero .back .text .hero-text {
  /* font-size: calc(1.8rem + 4vmin); */
  font-weight: 600;
  font-size: 70px;
  color: var(--main-color);
  font-family: serif;
  font-style: italic;
  line-height: 1.2;
}
/* Hero Ends */

/* Blog Starts */
.history {
  padding: 50px 0px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.history .content h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.history .content {
  width: 55%;
}

.history .content p {
  text-align: justify;
  padding: 5px 0px;
  font-size: 18px;
}

.history .image {
  width: 40%;
}

.history .image img {
  width: 100%;
}

.vlog {
  background: var(--gradient-gray), url("../assets/imgs/blog.jpg");
  background-size: cover;
  color: white;
  padding: 50px 0px;
  background-attachment: fixed;
}

.final {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.final-flex {
  width: 48%;
}

.final p {
  text-align: justify;
  font-size: 18px;
  padding: 5px 0px;
}
/* Blog Ends */

/* Footer section starts here */

footer {
  background: #981733;
  display: flex;
  color: white;
  justify-content: space-evenly;
  padding: 10px 0;
  align-items: center;
}

.footer-copyright {
  align-self: center;
}

.footer-icon__holder {
  font-weight: 500;
  display: flex;
}

.footer-icons {
  color: whitesmoke;
  /* display: block; */
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  cursor: pointer;
}

.footer-icons a {
  color: whitesmoke;
  transition: all 0.2s ease;
}

.footer-icons a:hover {
  font-size: 25px;
}

.footer-button__holder button {
  padding: 15px 20px;
  background: transparent;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  transition: all 0.2s ease;
  color: whitesmoke;
  cursor: pointer;
}

.footer-button__holder button:hover {
  background: whitesmoke;
  color: #b81c4b;
}

/* Footer section ends here */

/* ================= */
/* ================= */
/* HOME STYLING ENDS */

/* WHY STYLING BEGINS */
/* =================== */
/* =================== */
/* =================== */

.why-hero {
  background: var(--gradient), url("../assets/imgs/why.jpg");
}

.why-hero .why-text {
  width: 90%;
  margin: 0 auto;
}

.why-content {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0px;
}

.why-content p {
  font-size: 20px;
  text-align: justify;
  padding: 10px 0px;
}

/* ================ */
/* ================ */
/* WHY STYLING ENDS */

/* GALLERY STYLING BEGINS */
/* ====================== */
/* ====================== */
/* ====================== */

.images {
  padding-bottom: 50px;
}

.gallery-hero {
  background: var(--gradient), url("../assets/imgs/gallery.jpg");
}

.gallery-hero .gallery-text {
  width: 90%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
  padding: 50px 0px 0px 0px;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 1%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 1.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}

.box:hover > img {
  width: 100%;
  height: 100%;
}

/* Body & Image List Styles */

.img-list {
  list-style: none;
  width: 90%;
  padding: 3% 1%;
  margin: 0 auto;
  /* padding-bottom: 50px; */
}
.img-list li {
  border: 5px solid transparent;
  box-sizing: border-box;
  width: 33.33%;
  float: left;
  position: relative;
  cursor: pointer;
}
.img-list img {
  max-width: 100%;
  vertical-align: middle;
}

/* Image Placeholder Styles */
.img-placeholder:before,
.img-placeholder:after {
  padding-top: 33.33%;
  content: "";
  display: block;
}
.img-placeholder {
  background: #222;
  box-shadow: 0 0 0 8px #222 inset, 0 0 0 9px #333 inset;
  color: #444;
  line-height: 0;
  text-align: center;
  display: block;
}

/* The hover effect
  -------------------------------------------------------------- */
.img-list li:before {
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  transform: scale(0);
}
.img-list li:hover:before {
  opacity: 0.5;
  transform: scale(1);
}
.img-list li:after {
  transition: all 0.6s ease 0.2s;
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: 1px solid #aaa;
  background: #000;
  opacity: 0;
  transform: scale(0);
}
.img-list li:hover:after {
  opacity: 0.35;
  transform: scale(1);
}

.red {
  width: 90%;
  padding-bottom: 50px;
  margin: 0 auto;
  height: 20vh;
}

/* ==================== */
/* ==================== */
/* GALLERY STYLING ENDS */

/* WORK STYLING BEGINS */
/* =================== */
/* =================== */
/* =================== */

.work-hero {
  background: var(--gradient), url("../assets/imgs/work.jpg");
}

.work-hero .work-text {
  width: 90%;
  margin: 0 auto;
}
